# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

[pytest]
pythonpath = .
addopts = -v --durations=0
log_cli = 1
log_cli_level = INFO
#addopts = -v --durations=0 -s --log-cli-level 1
testpaths = tests
python_files = test_*.py *_test.py *_tests.py
#env = PYTHONPATH=/glue-libs/spark-2.4.3-bin-spark-2.4.3-bin-hadoop2.8/python:/glue-libs/aws-glue-libs/target/AWSGlueETLPython-1.0.0.jar:$PYTHONPATH
markers =
    integration: test which require connection to real resources
    ignore: tests which should not run
mock_use_standalone_module = false
#nosecuredirs=tests/retired/
